@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

p {
  color: rgb(64, 8, 117);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

footer p {
  color: black;
}

nav {
  font-size: 24px;
}

#ultimotexto {
  color: antiquewhite;
}
#sub-1 {
  background-color: antiquewhite;
}

.contenedor {
  display: flex; /*necesario en todos si es que quiero que sea flexible y poder modficarlo y moverlo*/
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.caja {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja h2 {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}

.caja h1 {
  font-family: "Poppins", sans-serif;
}

.principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

.principal h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.caja a {
  display: flex;
  margin-bottom: 25px;
  font-size: 20px;
}

main {
  background-image: url("./huellitas2.png");
}

.lema {
  font-style: italic;
  color: rgb(110, 110, 110);
}

h1 {
  font-style: italic;
}

.titulo h1 {
  margin-bottom: 20px;
  font-weight: bolder;
}
