.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navegacion {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
}
.navegacion p {
  font-size: 24px;
}
.navegacion a {
  margin: 10px;
  text-decoration: none;
}

main {
  background-image: url("./huellitas3.png");
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Ajusta el margen según mis necesidades */
  overflow: hidden; /* Evitar que el mapa se desborde en pantallas pequeñas */
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: rgb(64, 8, 117);
  font-size: 20px;
}

/* Estilos base */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Cambiar a columna en dispositivos pequeños */
}

.menu a {
  text-decoration: none;
  color: #136ee4;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
  }

  .menu li {
    margin: 0 15px;
  }
}
